<h1>{{ package.name }}</h1>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Name</th>
        <td>{{ package.name }}</td>
    </tr>

    <tr>
        <th>Version</th>
        <td>{{ package.version }}</td>
    </tr>

    <tr>
        <th>Description</th>
        <td>{{ package.description }}</td>
    </tr>

    <tr>
        <th>Architecture</th>
        <td>{{ package.architecture }}</td>
    </tr>

    <tr>
        <th>URL</th>
        <a href="{{ package.url }}" target="_blank">{{ package.url }}</a>
    </tr>

    <tr>
        <th>Licences</th>
        <td>{{ package.licences }}</td>
    </tr>

    <tr>
        <th>Groups</th>
        <td>
            <ul>
                @for (group of package.groups; track group){
                    <li>{{ group }}</li>
                }
            </ul>    
        </td>
    </tr>

    <tr>
        <th>Provides</th>
        <td>
            <ul>
                @for (provide of package.provides; track provide){
                    <li>{{ provide }}</li>
                }
            </ul>
        </td>
    </tr>

    <tr>
        <th>Depends</th>
        <td>
            <ul>
                @for (depend of package.depends; track depend){
                    <li>
                        <a href="javascript:void(0)" (click)="info(depend)">{{ depend }}</a>
                    </li>
                }
            </ul>
        </td>
    </tr>

    <tr>
        <th>Optional Dependencies</th>
        <td>
            <ul>
                @for (optionalDependency of package.optionalDependencies; track optionalDependency){
                    <li>{{ optionalDependency }}</li>
                }
            </ul>
        </td>
    </tr>

    <tr>
        <th>Requested By</th>
        <td>
            <ul>
                @for (requestedBy of package.requestedBy; track requestedBy){
                    <li>
                        <a href="javascript:void(0)" (click)="info(requestedBy)">{{ requestedBy }}</a>    
                    </li>
                }
            </ul>
        </td>
    </tr>

    <tr>
        <th>Optional For</th>
        <td>
            <ul>
                @for (optionalFor of package.optionalFor; track optionalFor){
                    <li>{{ optionalFor }}</li>
                }
            </ul>
        </td>
    </tr>

    <tr>
        <th>In Conflict With</th>
        <td>
            <ul>
                @for (conflict of package.inConflictWith; track conflict){
                    <li>{{ conflict }}</li>
                }
            </ul>
        </td>
    </tr>

    <tr>
        <th>Replaces</th>
        <td>
            <ul>
                @for (replace of package.replaces; track replace){
                    <li>{{ replace }}</li>
                }
            </ul>
        </td>
    </tr>

    <tr>
        <th>Size</th>
        <td>{{ package.size.value }} {{ package.size.unit }}</td>
    </tr>

    <tr>
        <th>Manager</th>
        <td>{{ package.manager }}</td>
    </tr>

    <tr>
        <th>Creation Date Time</th>
        <td>{{ package.creationDateTime }}</td>
    </tr>

    <tr>
        <th>Install Date Time</th>
        <td>{{ package.installDateTime }}</td>
    </tr>

    <tr>
        <th>Reason Installation</th>
        <td>{{ package.reasonInstallation }}</td>
    </tr>

    <tr>
        <th>Installation Script</th>
        <td>{{ package.installationScript }}</td>
    </tr>

    <tr>
        <th>Validated By</th>
        <td>{{ package.validatedBy }}</td>
    </tr>      
</table>