<h1>PacMan API Consumer</h1>

<h2>Native packages</h2>
<ul>
    <li><button (click)="getNativeInstalledPackages()">Get Installed Packages (Explicit)</button></li>
    <li><button id="getLiteInstalledPackagesBtn">Get Installed Packages (Explicit) - Lite Version</button></li>
    <li><button id="getPackagesToUpgradeBtn">Get Packages to Upgrade</button></li>
    <li><button id="getInstalledPackageByNameBtn">Get Installed Package by Name</button></li>
</ul>

<h2>Foreign packages</h2>
<ul>
    <li><button id="getInstalledPackagesBtn2">Get Installed Packages (Explicit)</button></li>
    <li><button id="getLiteInstalledPackagesBtn2">Get Installed Packages (Explicit) - Lite Version</button></li>
    <li><button id="getPackagesToUpgradeBtn2">Get Packages to Upgrade</button></li>
    <li><button id="getInstalledPackageByNameBtn2">Get Installed Package by Name</button></li>
</ul>

<h2>Group packages</h2>
<ul>
    <li><button id="getGroupsBtn">Get PacMan Groups</button></li>
    <li><button id="getPackagesByGroupBtn">Get Packages by Group</button></li>
    <li><button id="getPackageDetailsBtn">Get Package of group details</button></li>
</ul>

<!-- TODO: esta es la forma? mi idea es quizas crear componentes con los resultados, onda <explicit-packages> -->
@if (explicitInstalledPackages.length > 0) { 
    Total Packages: {{ totalPackages }}
    <table class="table-bordered">
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Description</th>
            <th>Architecture</th>
            <th>URL</th>
            <th>Licences</th>
            <th>Groups</th>
            <th>Provides</th>
            <th>Depends</th>
            <th>Optional Dependencies</th>
            <th>Requested By</th>
            <th>Optional For</th>
            <th>In Conflict With</th>
            <th>Replaces</th>
            <th>Size</th>
            <th>Manager</th>
            <th>Creation Date Time</th>
            <th>Install Date Time</th>
            <th>Reason Installation</th>
            <th>Installation Script</th>
            <th>Validated By</th>
        </tr>        
    
        @for (package of explicitInstalledPackages; track package) {
            <tr>
                <td>{{ package.name }}</td>
                <td>{{ package.version }}</td>
                <td>{{ package.description }}</td>
                <td>{{ package.architecture }}</td>
                <td>
                    <a href="{{ package.url }}" target="_blank">{{ package.url }}</a>
                </td>
                <td>{{ package.licences }}</td>
                <td>
                    <ul>
                        @for (group of package.groups; track group){
                            <li>{{ group }}</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @for (provide of package.provides; track provide){
                            <li>{{ provide }}</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @for (depend of package.depends; track depend){
                            <li>{{ depend }}</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @for (optionalDependency of package.optionalDependencies; track optionalDependency){
                            <li>{{ optionalDependency }}</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @for (requestedBy of package.requestedBy; track requestedBy){
                            <li>{{ requestedBy }}</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @for (optionalFor of package.optionalFor; track optionalFor){
                            <li>{{ optionalFor }}</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @for (conflict of package.inConflictWith; track conflict){
                            <li>{{ conflict }}</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @for (replace of package.replaces; track replace){
                            <li>{{ replace }}</li>
                        }
                    </ul>
                </td>
                <td>{{ package.size.value }} {{ package.size.unit }}</td>
                <td>{{ package.manager }}</td>
                <td>{{ package.creationDateTime }}</td>
                <td>{{ package.installDateTime }}</td>
                <td>{{ package.reasonInstallation }}</td>
                <td>{{ package.installationScript }}</td>
                <td>{{ package.validatedBy }}</td>
            </tr>
        }
    </table>
}