.table-bordered {
    border-collapse: collapse;
    font-family: 'Lucida Console', Courier, monospace;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: darkblue;
}